.mons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;

    .search-bar{
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        
        input{
            width: 25rem;
            height: 5rem;
            padding: 1rem;
            &::placeholder{
                color: #232323;
            }
        }

        .categories{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            .sort-order-button {
                height: 100%;
                cursor: pointer;
                font-size: 2em;
                border: none;
                color: #232323;
                background-color: whitesmoke;
                padding: 1rem 1.5rem;
              }
              .select{
                .sort-label {
                    font-size: 1.4em;

                }
            
                .sort-select {
                    cursor: pointer;
                    font-size: 1.1em;
                    padding: 1.45rem 1.5rem;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
            }
        }
    }
    .randomize{
        transition: opacity 0s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.5rem;
        .mon-list{
            display: flex;
            gap: 5rem;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-bottom: 5rem;
            transition: .3s;
    
            .pokemon{
                position: relative;
                z-index: 1000 !important;
                width: 20%;
                max-width: 35rem;
                min-width: 30rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                padding: 2.5rem 0;
                border: 1px solid whitesmoke;
                -webkit-box-shadow: 2px 2px 15px 0px rgba(245,245,245,1);
                -moz-box-shadow: 2px 2px 15px 0px rgba(245,245,245,1);
                box-shadow: 2px 2px 15px 0px rgba(245,245,245,1);

            
                .mon-entry{
                    font-weight: normal;
                }
                .mon-name{
                    text-transform: capitalize;
                    font-size: 1.7em;
                }
                .mon-types{
                    margin-top: 2rem;
                    display: flex;
                    gap: 1rem;
                    .mon-type{
                        height: 3rem;
                    }
                }
                .mon-img{
                    position: relative;
                    height: 20rem;
                    object-fit: contain;
                    transition: .3s;
                    cursor: pointer;
                    &:hover{
                        scale: 1.02;
                    }
                }
                .evolution-button{
                    padding: 0.4rem 0.8rem;
                    background-color: #232323;
                    color: #f5f5f5;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    border: 1px solid #f5f5f5;

                    &:hover{
                        -webkit-box-shadow: 0px 0px 7px 1px rgba(245,245,245,1);
                        -moz-box-shadow: 0px 0px 7px 1px rgba(245,245,245,1);
                        box-shadow: 0px 0px 7px 1px rgba(245,245,245,1);
                    }
                }
                .body-info{
                    display: flex;
                    gap: 2rem;
                    font-size: 1.3em;
                }
            }   
        }
    }
}

.form-arrows {
    width: 100%;
    position: absolute;
    top: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    .right-arrow{
        left: 90%;
    }
    
    .left-arrow{
        right: 90%;
    }
    
    .arrow {
        position: absolute;
      background: none;
      border: none;
      font-size: 2.5em;
      cursor: pointer;
      color: whitesmoke;
      transition: .3s;

      &:hover {
        color: rgb(218, 195, 195);
      }
    }
}

.randomize-btn{
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    
    &:hover{
      
      &:after{
        opacity: 1;
        transform: translateY(0) rotateX(0);
      }
      
      &:before{
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
      }
    }
    
    &:after{
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      color: #323237;
      display: block;
      transition: 0.5s;
      position: absolute;
      background: #dee263;
      content: attr(data-back);
      transform: translateY(-50%) rotateX(90deg);
    }
    
    &:before{
      top: 0;
      left: 0;
      opacity: 1;
      color: #adadaf;
      display: block;
      padding: 0 30px;
      line-height: 40px;
      transition: 0.5s;
      position: relative;
      background: #323237;
      content: attr(data-front);
      transform: translateY(0) rotateX(0);
    }
  }

  .pokemon {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  
  .pokemon.visible {
    opacity: 1;
    transform: translateY(0);
  }