.mons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;

    .search-bar{
        align-self: center;
        input{
            width: 25rem;
            height: 5rem;
            padding: 1rem;
            &::placeholder{
                color: #232323;
            }
        }
    }

    .mon-list{
        display: flex;
        gap: 5rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        transition: .3s;
    }
}

.pokemon{
    width: 20%;
    max-width: 20%;
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    padding-top: 2.5rem;
    border: 1px solid whitesmoke;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(245,245,245,1);
    -moz-box-shadow: 2px 2px 15px 0px rgba(245,245,245,1);
    box-shadow: 2px 2px 15px 0px rgba(245,245,245,1);
    transition: .3s;

    .mon-entry{
        font-weight: normal;
    }
    .mon-name{
        text-transform: capitalize;
        font-size: 1.7em;
    }
    .mon-types{
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        .mon-type{
            height: 3rem;
        }
    }
    .mon-img{
        height: 20rem;
        object-fit: contain;
        transition: .3s;
        &:hover{
            scale: 1.02;
        }
    }
}