@import 'components/navbar';
@import 'components/pokedex';
@import 'components/pokemon';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body{
  background-color: #232323;
  color: whitesmoke;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #444343c4;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: .7rem 1.4rem;
  font-size: 1.4em;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

.scroll-to-top:hover {
  opacity: .7;
}